.carousel {
	--r: 135deg;
	display: flex;
	position: relative;
	padding: 15px 0;
	z-index: 3;
	overflow: hidden;
	margin: 0 15px;
}

.carousel .slider {
	padding: 35px 0;
	padding-left: 0;
	display: flex;
	overflow-x: auto;
	flex-grow: 1;
}

.carousel.loading .slider {
	overflow-x: hidden;
}

@media screen and ( max-width: 768px ) {
	.carousel {
		margin: 0;
	}
	.carousel .slider {
		padding-left: 15px;
	}
}

.carousel::-webkit-scrollbar,
.carousel .slider::-webkit-scrollbar {
	display: none;
}

.carousel::after {
	content: "";
	position: absolute;
	left: calc( 100% - 6px );
	top: 30px;
	bottom: 30px;
	width: 24px;
	border-radius: 12px 0 0 12px;
	background: var( --gradient ) no-repeat;
	background-size: 100px;
	box-shadow: -10px 0 10px #0000002F;
}

.carousel-item {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: 16px 12px;
	border-radius: 12px;
	min-height: 300px;
	width: 240px;
	background: var( --dark3 );
	background: var( --gradient-dark1 );
	margin-left: -15px;
	box-shadow: -1rem 0 3rem #00000049;
	transition: transform 250ms;
}

@media ( hover: hover ) {
	.carousel-item:hover {
		transform: rotateZ( 4deg ) scale( 1.07 ) translate( 0, -5px );
	}
	.carousel-item:hover ~ .carousel-item {
		transform: translateX( 25px );
	}
}

.carousel-item:first-of-type {
	margin-left: 20px;
}

.carousel-item .title {
	font-family: var( --font-gotham );
	color: var( --light0 );
	font-style: normal;
	font-size: 1.3rem;
	letter-spacing: -0.02rem;
	font-weight: 800;
	margin: 10px 0;
	line-height: 1.1;
}

.carousel-item time,
.carousel-item em,
.carousel-item .author,
.carousel-item .category {
	font-family: var( --font-sentinel );
}

.carousel-item time {
	font-size: 75%;
	opacity: 0.5;
}

.carousel-item em {
	font-style: normal;
	font-weight: bold;
}

.carousel-item .author {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-block-start: auto;
	font-weight: bold;
}

.carousel-item .avatar {
	flex-shrink: 0;
	margin-right: 6px;
}

.carousel-item .avatar .br {
	border: 2px solid var( --dark2 );
}

.carousel-item .tag {
	color: #FF7A18;
	text-transform: capitalize;
	font-size: 85%;
	display: inline-block;
}

.carousel-item .tag:not( :last-of-type )::after {
	content: " ,";
	margin-inline-end: 5px;
	display: inline-block;
}

.carousel-item:last-of-type::after {
	content: "";
	display: inline-block;
	width: calc( 100% + 35px );
	height: 1px;
}
